In [ ]:
#1.Load the Dataset

In [3]:
import pandas as pd
df=pd.read_csv("C:/Users/Sruth/Downloads/sales_data_sample.csv")

In [ ]:
#2.Preview the Data

In [4]:
print(df.head())

   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

          ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0    2/24/2003 0:00  Shipped       1         2     2003  ...
1  05-07-2003 00:00  Shipped       2         5     2003  ...
2  07-01-2003 00:00  Shipped       3         7     2003  ...
3    8/25/2003 0:00  Shipped       3         8     2003  ...
4  10-10-2003 00:00  Shipped       4        10     2003  ...

                    ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0        897 Long Airport Avenue           NaN            NYC    NY
1             59 rue de l'Abbaye           NaN          Reims   NaN
2  27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3             78934 Hillside Dr.           NaN       Pasadena    CA
4                7734 Strong St.           NaN  San Francisco    CA

  POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0      10022     USA       NaN              Yu             Kwai    Small
1      51100  France      EMEA         Henriot             Paul    Small
2      75508  France      EMEA        Da Cunha           Daniel   Medium
3      90003     USA       NaN           Young            Julie   Medium
4        NaN     USA       NaN           Brown            Julie   Medium

[5 rows x 25 columns]

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB
None

In [6]:
#3.Cleaning process(Handle Missing Values)

In [16]:
print(df.isnull().sum())
df=df.dropna()

ORDERNUMBER         0
QUANTITYORDERED     0
PRICEEACH           0
ORDERLINENUMBER     0
SALES               0
ORDERDATE           0
STATUS              0
QTR_ID              0
MONTH_ID            0
YEAR_ID             0
PRODUCTLINE         0
MSRP                0
PRODUCTCODE         0
CUSTOMERNAME        0
PHONE               0
ADDRESSLINE1        0
ADDRESSLINE2        0
CITY                0
STATE               0
POSTALCODE          0
COUNTRY             0
TERRITORY           0
CONTACTLASTNAME     0
CONTACTFIRSTNAME    0
DEALSIZE            0
dtype: int64

In [9]:
#4.Remove Duplicates

In [15]:
df_cleaned=df.drop_duplicates()
print(df_cleaned)

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
10          10223               37     100.00                1  3965.66
21          10361               20      72.55               13  1451.00
40          10270               21     100.00                9  4905.39
47          10347               30     100.00                1  3944.70
55          10120               29      96.34                3  2793.86
...           ...              ...        ...              ...      ...
2667        10120               43      76.00               14  3268.00
2673        10223               26      67.20               15  1747.20
2685        10361               44     100.00               10  5001.92
2764        10361               35     100.00               11  4277.35
2791        10361               23      95.20               12  2189.60

      ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
10   2004-02-20  Shipped       1         2     2004  ...
21   2004-12-17  Shipped       4        12     2004  ...
40   2004-07-19  Shipped       3         7     2004  ...
47   2004-11-29  Shipped       4        11     2004  ...
55   2003-04-29  Shipped       2         4     2003  ...
...         ...      ...     ...       ...      ...  ...
2667 2003-04-29  Shipped       2         4     2003  ...
2673 2004-02-20  Shipped       1         2     2004  ...
2685 2004-12-17  Shipped       4        12     2004  ...
2764 2004-12-17  Shipped       4        12     2004  ...
2791 2004-12-17  Shipped       4        12     2004  ...

                                 ADDRESSLINE1  ADDRESSLINE2       CITY  \
10                          636 St Kilda Road       Level 3  Melbourne
21    Monitor Money Building, 815 Pacific Hwy       Level 6  Chatswood
40    Monitor Money Building, 815 Pacific Hwy       Level 6  Chatswood
47                          636 St Kilda Road       Level 3  Melbourne
55                          636 St Kilda Road       Level 3  Melbourne
...                                       ...           ...        ...
2667                        636 St Kilda Road       Level 3  Melbourne
2673                        636 St Kilda Road       Level 3  Melbourne
2685  Monitor Money Building, 815 Pacific Hwy       Level 6  Chatswood
2764  Monitor Money Building, 815 Pacific Hwy       Level 6  Chatswood
2791  Monitor Money Building, 815 Pacific Hwy       Level 6  Chatswood

         STATE POSTALCODE    COUNTRY TERRITORY CONTACTLASTNAME  \
10    Victoria       3004  Australia      APAC        Ferguson
21         NSW       2067  Australia      APAC          Huxley
40         NSW       2067  Australia      APAC          Huxley
47    Victoria       3004  Australia      APAC        Ferguson
55    Victoria       3004  Australia      APAC        Ferguson
...        ...        ...        ...       ...             ...
2667  Victoria       3004  Australia      APAC        Ferguson
2673  Victoria       3004  Australia      APAC        Ferguson
2685       NSW       2067  Australia      APAC          Huxley
2764       NSW       2067  Australia      APAC          Huxley
2791       NSW       2067  Australia      APAC          Huxley

     CONTACTFIRSTNAME DEALSIZE
10              Peter   Medium
21             Adrian    Small
40             Adrian   Medium
47              Peter   Medium
55              Peter    Small
...               ...      ...
2667            Peter   Medium
2673            Peter    Small
2685           Adrian   Medium
2764           Adrian   Medium
2791           Adrian    Small

[110 rows x 25 columns]

In [12]:
#5. Standardize Text Values
# Convert date formats to a consistent type
# Rename column headers to be clean and uniform.
# Check and fix data types

In [13]:
df['ORDERDATE'] = pd.to_datetime(df['ORDERDATE'],errors='coerce',dayfirst=True)
df_cleaned['STATUS'] = df_cleaned['STATUS'].str.strip().str.lower()
df_cleaned['COUNTRY'] = df_cleaned['COUNTRY'].str.strip().str.title()
df_cleaned['DEALSIZE'] = df_cleaned['DEALSIZE'].str.strip().str.title()
df_cleaned.columns = df_cleaned.columns.str.strip().str.lower().str.replace(" ", "_")
if df_cleaned['postalcode'].dtype != 'object':
  df_cleaned['postalcode'] = df_cleaned['postalcode'].astype(str)
print(df_cleaned)

      ordernumber  quantityordered  priceeach  orderlinenumber    sales  \
10          10223               37     100.00                1  3965.66
21          10361               20      72.55               13  1451.00
40          10270               21     100.00                9  4905.39
47          10347               30     100.00                1  3944.70
51          10391               24     100.00                4  2416.56
...           ...              ...        ...              ...      ...
2667        10120               43      76.00               14  3268.00
2673        10223               26      67.20               15  1747.20
2685        10361               44     100.00               10  5001.92
2764        10361               35     100.00               11  4277.35
2791        10361               23      95.20               12  2189.60

             orderdate   status  qtr_id  month_id  year_id  ...  \
10      2/20/2004 0:00  shipped       1         2     2004  ...
21     12/17/2004 0:00  shipped       4        12     2004  ...
40      7/19/2004 0:00  shipped       3         7     2004  ...
47     11/29/2004 0:00  shipped       4        11     2004  ...
51    03-09-2005 00:00  shipped       1         3     2005  ...
...                ...      ...     ...       ...      ...  ...
2667    4/29/2003 0:00  shipped       2         4     2003  ...
2673    2/20/2004 0:00  shipped       1         2     2004  ...
2685   12/17/2004 0:00  shipped       4        12     2004  ...
2764   12/17/2004 0:00  shipped       4        12     2004  ...
2791   12/17/2004 0:00  shipped       4        12     2004  ...

                                 addressline1  addressline2          city  \
10                          636 St Kilda Road       Level 3     Melbourne
21    Monitor Money Building, 815 Pacific Hwy       Level 6     Chatswood
40    Monitor Money Building, 815 Pacific Hwy       Level 6     Chatswood
47                          636 St Kilda Road       Level 3     Melbourne
51                          201 Miller Street      Level 15  North Sydney
...                                       ...           ...           ...
2667                        636 St Kilda Road       Level 3     Melbourne
2673                        636 St Kilda Road       Level 3     Melbourne
2685  Monitor Money Building, 815 Pacific Hwy       Level 6     Chatswood
2764  Monitor Money Building, 815 Pacific Hwy       Level 6     Chatswood
2791  Monitor Money Building, 815 Pacific Hwy       Level 6     Chatswood

         state postalcode    country territory contactlastname  \
10    Victoria       3004  Australia      APAC        Ferguson
21         NSW       2067  Australia      APAC          Huxley
40         NSW       2067  Australia      APAC          Huxley
47    Victoria       3004  Australia      APAC        Ferguson
51         NSW       2060  Australia      APAC          O'Hara
...        ...        ...        ...       ...             ...
2667  Victoria       3004  Australia      APAC        Ferguson
2673  Victoria       3004  Australia      APAC        Ferguson
2685       NSW       2067  Australia      APAC          Huxley
2764       NSW       2067  Australia      APAC          Huxley
2791       NSW       2067  Australia      APAC          Huxley

     contactfirstname dealsize
10              Peter   Medium
21             Adrian    Small
40             Adrian   Medium
47              Peter   Medium
51               Anna    Small
...               ...      ...
2667            Peter   Medium
2673            Peter    Small
2685           Adrian   Medium
2764           Adrian   Medium
2791           Adrian    Small

[147 rows x 25 columns]

C:\Users\Sruth\AppData\Local\Temp\ipykernel_86464\439629008.py:1: UserWarning: Parsing dates in %m/%d/%Y %H:%M format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df['ORDERDATE'] = pd.to_datetime(df['ORDERDATE'],errors='coerce',dayfirst=True)